@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}



nav{
    display: flex;
    align-items: center;
    font-family:"Varela Round", sans-serif ;
    font-weight: bolder;
    background-color: black;
    color: white;
    height: 55px;
}

.brand{
    width: 48px;
    border-radius: 85px;
}

.logo_name{
    font-weight: bolder;
    font-size: 26px;
}

nav ul{
    align-items: center;
    display: flex;
}

nav ul li{
    list-style-type:none;
    padding: 0 10px;
}

